<ion-content class="welcome-page">
  <ion-header>
      <ion-buttons start>
        <button ion-button clear color="secondary" navPop>
          <strong style="font-size: 20px">Back</strong>
        </button>
      </ion-buttons>
  </ion-header>

  <div class="errors">
    {{ errors }}
  </div>

  <form class="auth-form login-form" padding-left padding-right [formGroup]="form"
    (submit)="login()">
    <ion-list>
      <ion-item>
        <ion-input type="email" required
          placeholder="Email"
          formControlName="email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" required
          placeholder="Password"
          formControlName="password">
        </ion-input>
      </ion-item>
    </ion-list>

    <button ion-button color="secondary" block
      [disabled]="!form.valid || loading" (click)="login()">
      <span *ngIf="!loading">Login</span>
      <span *ngIf="loading">Loading</span>
    </button>

    <br>
  </form>
</ion-content>
