<ion-content class="welcome-page">
  <ion-header>
      <ion-buttons start>
        <button ion-button clear color="green" navPop>
          <strong style="font-size: 20px">Back</strong>
        </button>
      </ion-buttons>
  </ion-header>

  <div class="errors-signup" *ngIf="errors">
    {{ errors[0] }}
  </div>

  <form class="auth-form sign-up-form" padding-left padding-right [formGroup]="form"
    (submit)="register()">
    <ion-list>
      <ion-item>
        <ion-input type="text" required
          placeholder="Username"
          formControlName="username">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" required
          placeholder="Email"
          formControlName="email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" required
          placeholder="Password"
          formControlName="password">
        </ion-input>
      </ion-item>
    </ion-list>

    <button ion-button color="green" block
      [disabled]="!form.valid || loading" (click)="register()">
      <span *ngIf="!loading">Create Account</span>
      <span *ngIf="loading">Loading</span>
    </button>

    <br>
  </form>
</ion-content>
