<ion-content padding class="profile-info-page">
  <ion-buttons>
    <button start ion-button clear color="white" navPop>
      <strong style="font-size: 20px">Back</strong>
    </button>

    <button end ion-button clear color="white" (click)="goToEdit()" style="float:right;">
      <strong style="font-size:20px;">Edit</strong>
    </button>
  </ion-buttons>

    <h1 color="white" text-center>{{ user.username }}</h1>

  <ion-list>
    <ion-item class="first-item">
        <strong>First Name:</strong>
      <ion-note>{{ user.first_name }}</ion-note>
    </ion-item>
    <ion-item>
      <strong>Last Name:</strong>
      <ion-note>{{ user.last_name }}</ion-note>
    </ion-item>
    <ion-item>
        <strong>City:</strong>
      <ion-note>{{ user.city}}</ion-note>
    </ion-item>
    <ion-item class="last-item">
        <strong>State:</strong>
      <ion-note>{{ user.state}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
