<ion-content padding class="profile-edit-page">
  <ion-buttons start>
    <button ion-button clear color="white" navPop>
      <strong style="font-size: 20px">Back</strong>
    </button>

    <button end ion-button clear color="white" (click)="update()" style="float:right;">
      <strong style="font-size:20px;">Update</strong>
    </button>
  </ion-buttons>

  <div text-center>
    <button text-center (click)="updatePhoto()">
      <img *ngIf="user.profile_image" class="profile-icon" [src]="user.profile_image">

      <ion-icon *ngIf="!user.profile_image"  name="person" class="profile-icon"></ion-icon>
    </button>
  </div>


  <form *ngIf="form"
    [formGroup]="form">
      <ion-list>
        <ion-item class="first-item">
          <ion-label>Username</ion-label>
          <ion-input type="text"
            formControlName="username" required>
           </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input type="text"
            formControlName="first_name">
           </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input type="text"
            formControlName="last_name">
           </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email"
            formControlName="email" required>
           </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>City</ion-label>
          <ion-input type="text"
            formControlName="city">
           </ion-input>
        </ion-item>

        <ion-item class="last-item">
          <ion-label>State</ion-label>
          <ion-input type="text"
            formControlName="state">
           </ion-input>
        </ion-item>
      </ion-list>
  </form>
</ion-content>
