<ion-content padding class="profile-info-page">
  <ion-buttons start>
    <button ion-button clear color="white" navPop>
      <strong style="font-size: 20px">Back</strong>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button ion-button clear color="white" (click)="goToEdit()">
      <strong style="font-size: 20px">Edit</strong>
    </button>
  </ion-buttons>

  <div text-center>
    <h1 color="white">{{ user.username }}</h1>
  </div>

  <ion-list>
    <ion-item>
        First Name:
      <ion-note>{{ user.first_name }}</ion-note>
    </ion-item>
    <ion-item>
        Last Name:
      <ion-note>{{ user.last_name }}</ion-note>
    </ion-item>
    <ion-item>
        City:
      <ion-note>{{ user.city}}</ion-note>
    </ion-item>
    <ion-item>
        State:
      <ion-note>{{ user.state}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
